name: Uptime App CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test-build-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write   # REQUIRED for GHCR

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        working-directory: app
        run: |
          pip install -r requirements.txt

      - name: Run tests
        working-directory: app
        run: |
          pytest

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/rajhebballi/uptime-app:latest ./app
          docker push ghcr.io/rajhebballi/uptime-app:latest
